:root {
    --accent-color: #DC56C5;
    --white-text-color: #FFFFFF;
    --p-text-color: #0E0E0E;
    --gray-color: #939393;
    --hero-overlay: #0B0B0B;
    --main-bg-decor-line-color: #212121;
    --main-bg-color: #0E0E0E; 
    --modal-bg-color: #FFF2FD;
    --modal-blue-color: #4C00FE;
    --modal-overlay: #200D1D;
}