{{!-- {{#each this}}
  <div class='photo-card' data-id='{{id}}'>
    <img
      class='img'
      src='{{[1]}}'
      alt='{{images.attribution}}'
      loading='lazy'
    />
    <div class='info'>
      <p class='info-item-name'>
        <b><span>{{1}}</span></b>
      </p>
      <p class='info-item-lokal'>
        <span>{{dates.start.localDate}}</span>
      </p>
      <p class='info-item-address'>
        <b><span>{{place.address}}</span></b>
      </p>
    </div>
  </div></a>
{{/each}} --}}