{{#each this}}
<div class="modal modal-js">
    <button class="modal-close modal-close-js">Close</button>
    <div>
        <img src="{{event.images}}" alt="">
        <div class="modal-content modal-content-js">
            <h2>{{event.name}}</h2>
            <p>{{event.description}}</p>
        </div>
    </div>
</div>
{{/each}}