{{!-- {{#each this}}
<div class="modal modal-js">
    <button class="modal-close modal-close-js">Close</button>
    <div>
        <img src="" alt="">
        <div class="modal-content modal-content-js">
            <h2></h2>
        </div>
    </div>

</div>
{{/each}} --}}