.wraper {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  @media screen and (min-width: 768px) {
    height: 227px;
  }
}

.img {
  width: auto;
  height: 100%;
  background-color: gray;
  background-size: cover;
}

.photo-card {
  position: relative;
  // height: 350px;
  width: 128px;

  @media screen and (min-width: 768px) {
    // height: 350px;
    width: 180px;
  }
  &::before {
    display: inline-block;
    position: absolute;
    content: '';
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    top: -9px;
    left: 29px;
    width: 109px;
    height: 100px;

    @media screen and (min-width: 780px) {
      top: -13px;
      left: 41px;

      width: 153px;
      height: 143px;
    }
  }
}

.info-item-name {
  margin-top: 5px;
  // width: 128px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  font-style: 400;
  color: var(--accent-color);
  text-align: center;
  @media screen and (min-width: 768px) {
    // width: 180px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.info-item-lokal {
  margin-top: 5px;
  font-weight: 400;
  // width: 180px;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  @media screen and (min-width: 768px) {
    // width: 180px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.info-item-address {
  margin-top: 5px;
  // width: 180px;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    // width: 180px;
    font-size: 14px;
    line-height: 1.21;
  }
}
.gallery {
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: repeat(1, 250px);
  gap: 30px 14px;

  @media screen and (min-width: 320px) {
    grid-template-columns: repeat(2, 128px);
    gap: 58px 25px;
  }

  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(2, 180px);
    gap: 58px 25px;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 180px);
    gap: 58px 25px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 180px);
    gap: 55px 70px;
  }

  // display: flex;
  // flex-wrap: wrap;
  background-color: --main-bg-decor-line-color;
}

.container-gallery {
  width: 100%;
  padding-left: 15px;
  // padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;

  @media screen and (min-width: 480px) {
    width: 450px;
    padding-left: 30px;
    // padding-right: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 625px;
    padding-left: 15px;
  }
  @media screen and (min-width: 1280px) {
    width: 960px;
  }
}
