.img {
  width: 180px;
  height: 227px;
  background-color: aqua;

  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.photo-card {
  position: relative;
  //   margin-top: 30px;
  //   margin-bottom: 30px;

  &::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 153px;
    height: 143px;
    border: 1px solid var(--accent-color);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    top: -13px;
    left: 41px;

    @media screen and (min-width: 480px) {
      //   left: 49px;
    }
    @media screen and (min-width: 768px) {
      //   left: 30px;
    }
    @media screen and (min-width: 1280px) {
      //   left: 87px;
    }
  }
}

.info-item-name {
  width: 182px;
  font-size: 16px;
  line-height: 1.25;
  font-style: 700;
  color: var(--accent-color);
  text-align: center;
}
.info-item-lokal {
  width: 182px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.info-item-address {
  width: 182px;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: --main-bg-decor-line-color;
}
